body {
    background-color: #f1f3f3;
    font-family: 'helvetica';
}
#deals{
    background-color: white;
    /* padding: ; */
}
#deals1{
    background-color: white;
    /* padding: ; */
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.cards{
    display: flex;
    justify-items: center;
}
.carousel-inner {
    padding: 1em;
  }